input[type=file]::file-selector-button {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  background-color: rgb(255 255 255);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.38rem;
  padding-bottom: 0.38rem;
  border-radius: 0.25rem;
  color: rgb(1 126 132);
  border-width: 1px 1px 1px 1px;
  border-color: rgb(1 126 132);
}

input[type=file]::file-selector-button:hover {
    background-color: rgb(243 244 246);
}
