@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Mulish";
    font-weight: 600;
    letter-spacing: 0.0275em;
}

@layer utilities {
  .required-field::after {
    @apply text-transit-red;
    content: '*';
  }

  .table-action-icons {
    @apply w-8;
    @apply h-8;
    @apply p-1;
    @apply bg-transit-white;
    @apply hover:bg-transit-green-dark;
    @apply rounded-full;
    @apply text-transit-green-dark;
    @apply hover:text-transit-white;
  }
}

@layer components {
  /* native HTML button */
  button.menu-tile {
    @apply flex;
    @apply justify-start;
    @apply py-4;
    @apply px-6;
    @apply bg-transit-white;
    @apply rounded;
    @apply border;
    @apply border-transit-grey;
    @apply font-normal;
    @apply text-transit-black;
    @apply hover:border-x;
    @apply hover:border-transit-green-dark;
    @apply hover:text-transit-green-dark;
  }

  .add-item {
    @apply flex;
    @apply justify-center;
    @apply items-center;
    @apply bg-transit-green-dark;
    @apply rounded;
    @apply text-transit-white;
    @apply w-full;
    @apply h-full;
  }

  .cancel-button {
    @apply inline-flex;
    @apply items-center;
    @apply gap-2;
    @apply bg-transit-white;
    @apply px-4;
    @apply py-2; 
    @apply rounded;
    @apply text-transit-green-dark;
    @apply border;
    @apply border-transit-green-dark;
    @apply hover:bg-transit-grey-100;
    @apply active:outline-2;
    @apply active:shadow-cancelButtonFocus;
    @apply active:border;
    @apply active:border-transit-green-secondary;
  }

  .delete-button {
    @apply inline-flex;
    @apply items-center;
    @apply gap-2;
    @apply bg-transit-white;
    @apply px-4;
    @apply py-2; 
    @apply rounded;
    @apply text-transit-red;
    @apply hover:bg-transit-grey-100;
    @apply active:outline-2;
    @apply active:shadow-deleteButtonFocus;
    @apply border;
    @apply border-transparent;
    @apply active:border;
    @apply active:border-transit-red;
  }

  .clear-button {
    @apply flex;
    @apply justify-center;
    @apply items-center;
    @apply px-4;
    @apply py-2;
    @apply bg-transit-white;
    @apply rounded;
    @apply text-transit-green-dark;
    @apply w-full;
    @apply h-full;
    @apply hover:underline;
    @apply hover:underline-offset-1;
    @apply active:underline;
    @apply active:underline-offset-1;
  }

  .pagination-button {
    @apply bg-transit-white;
    @apply shadow-paginationButton;
    @apply rounded-md;
    @apply disabled:bg-transit-grey-disabled;
  }

  .submit-button {
    @apply flex;
    @apply justify-center;
    @apply items-center;
    @apply bg-transit-green-dark;
    @apply rounded;
    @apply text-transit-white;
    @apply w-full;
    @apply h-full;
    @apply px-4;
    @apply py-2;
    @apply shadow-submitButton;
    @apply hover:bg-transit-green-secondary;
    @apply border;
    @apply border-transparent;
    @apply active:outline-2;
    @apply active:shadow-cancelButtonFocus;
    @apply active:border;
    @apply active:border-transit-green-secondary;
  }

  .submit-disabled-button {
    @apply flex;
    @apply justify-center;
    @apply items-center;
    @apply bg-transit-green-disabled;
    @apply rounded;
    @apply text-transit-white;
    @apply w-full;
    @apply h-full;
    @apply px-4;
    @apply py-2;
    @apply border;
    @apply border-transparent;
  }
}
